* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header > #logo {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 25rem;
    padding: 1rem;
    background-color: #003F62;
    color: white;
}

header > #navbar {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 1rem;
    background-color: #f5f5f5;
}

header > #navbar > p {
    color: #003F62;
}
header > #navbar > ul {
    display: flex;
    gap: 1rem;
    list-style: none;
}

header > #navbar > ul > li > a {
    text-decoration: none;
    color: black;
    cursor: pointer;
}

section#display {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 20rem;
    padding: 2rem;
}

section#display > div#left > h1 {
    line-height: 2rem;
}

section#display > div#left > button {
    margin: 10px 10px 0 0;
    padding: 1rem;
    border: none;
    border-radius: 15px;
    cursor: pointer;
    background-color: #003F62;
    color: white;
}

section#display > div#left > button#view {
    border: #003F62 1px solid;
    background-color: white;
    color: #003F62;
}

section#display > div#right > img {
    height: 90%;
    width: 90%;
}

section#productsSlider {
    max-width: 80%;
    margin: 0 auto;
}

section#productsSlider > #productContainer {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 5rem;
}

section#productsSlider > #productContainer > div {
    width: 380px;
    height: 140;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    padding: 10px;
    border: 1px solid gray;
    border-radius: 10px;
}